
<div class="row" style="display:block">
  <h5 class="left"><%= "Welcome, #{@user.first_name}" %></h5> <img class="right" src=<%= session[:image] if session[:image] %>>
</div>



<h5>My Purchases this month </h5>

<div class="row" style="display:block">
  <div class="col s2"><h6>Name: </h6></div>
  <div class="col s2"><h6>Date: </h6></div>
  <div class="col s2"><h6>Total: </h6></div>
  <div class="col s4"><h6>Notes: </h6></div>
  <div class="col s2"><h6> Category: </h6></div>
</div>
<% Purchase.current_month_purchases(@user).each do |pur| %>
  <%= render partial: '/purchases/purchase', locals: { purchase: pur } %>
<% end %>

<%= link_to "View All Purchases", user_purchases_path(@user), class: 'btn' %>


