


<div class="row" style="display:block">
    <div class="col s2"> <%= purchase.location %></div>
    <div class="col s2"> <%= purchase.date %></div>
    <div class="col s2"> $<%= purchase.total  %></div>
    <div class="col s4"><%= purchase.note %></div>
    <div class="col s2"> 
</div><br>

