
<h1>Edit purchase</h1>

<%= render partial: "/errors/errors", locals: { object: purchase } %>

<div class="row" style="display:block">
 <%= render partial: "new_edit_purchase", locals: { purchase: purchase, url: user_purchase_path(signed_in_user, @purchase) } %>
</div>



