<h1>Add a new purchase</h1>


<%= render partial: 'new_purchase', locals: { purchase: @purchase, user: signed_in_user } %>

<%= submit_tag "Save", class: "btn" %>
<%= submit_tag "Save and add another", class: "btn" %>