<h1>Add a new purchase</h1>

<%= render partial: "errors", locals: { object: purchase } %>

<div class="row" style="display:block">
 <%= render partial: "new_edit_purchase", locals: { purchase: purchase, url: user_purchases_path(signed_in_user) } %>
</div>
